.breadcrumbs {
    padding: 0 0.75rem;

    &-content {
        padding      : clamp(20px, 4vw, 35px);
        background   : var(--gray);
        border-radius: var(--radius);
        color        : var(--black);
        // white-space  : nowrap;
        flex-wrap    : wrap;

        a {
            color: var(--black);

            &:after {
                content     : "/";
                display     : inline-flex;
                align-items : center;
                margin-left : 10px;
                margin-right: 12px;
                color       : var(--black);
            }
        }
    }
}