.contact {

    &__grid {
        height: fit-content;
    }

    &__block {
        position: relative;
        flex    : 0 0 auto;

        &:first-child {
            width: calc(66.6666% - 1.5rem);

            @media screen and (max-width: 1199px) {
                width: calc(66.6666% - 0.75rem);
            }

            @media screen and (max-width: 991px) {
                width: 100%;
            }
        }

        &:last-child {
            width: calc(33.3333% - 1.5rem);

            @media screen and (max-width: 1199px) {
                width: calc(33% - 1rem);
            }

            @media screen and (max-width: 991px) {
                width: 100%;
            }
        }

        &.introtext {
            background   : var(--light-blue);
            color        : var(--white);
            border-radius: var(--radius);
            position     : relative;
            padding      : clamp(20px, 4vw, 35px);
            font-size    : clamp(18px, 2vw, 26px);
            height       : -webkit-fill-available;

            @media screen and (max-width: 991px) {
                height: unset;
            }

            a {
                color: var(--white);

                &:hover {
                    opacity: .78;
                }
            }
        }
    }

    &__form {
        padding      : clamp(20px, 4vw, 35px);
        background   : var(--gray);
        border-radius: var(--radius);

        input {
            width: 100%;
            padding      : clamp(5px, 4vw, 10px) clamp(10px, 4vw, 25px);
            border: 1px solid #d3d3d3;
            transition: all .3s ease .3s;
            outline: none;

            &:focus {
                border: 1px solid var(--light-blue);
            }
        }
    }
}