.subheader {

  &__inner {
    background   : var(--blue);
    border-radius: var(--radius);
    margin       : calc(var(--bs-gutter-x) * 0.5) auto;
    padding      : clamp(30px, 4vw, 50px) clamp(20px, 4vw, 35px);
    color        : var(--white);
    min-height   : calc(100vh - var(--bs-gutter-x));
    min-height: 42vh;
    position     : relative;
    overflow     : hidden;

    &--small {
      min-height: 42vh;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background   : var(--blue);
      background: linear-gradient(to bottom, #082d535d 0%, #082d53b2 50%, var(--blue) 100%);
      display: block;
      opacity: .85;
    }
  }

  &__video {
    width   : 100%;
    height  : 100%;
    position: absolute;
    left    : 0;
    top     : 0;
    z-index: 0;

    video {
      width        : 100%;
      height       : 100%;
      object-fit   : cover;
    }
  }

  &__img {
    width   : 100%;
    height  : 100%;
    position: absolute;
    left    : 0;
    top     : 0;
    z-index: 0;

    img {
      width        : 100%;
      height       : 100%;
      object-fit   : cover;
    }
  }

  &__title {
    width    : 100%;
    max-width: 1300px;
    z-index: 1;
    text-shadow: 1px 1px 1px var(--black);
  }

  &__text {
    width    : 100%;
    max-width: 1000px;
    z-index: 1;
  }

  &__btn {
    z-index: 1;
  }
}